<!DOCTYPE html>
<html>
<head>
    <title>Admin Dashboard</title>
</head>
<body>
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/announcement">RP events</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/events">View Events</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/registration">Registration</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/dashboard">Profile</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <h1>Admin Control Panel</h1>
    
    <h2>Welcome back, Admin <%= user.full_name %>!</h2>
    <p>System Status: Online</p>

    <hr>

    <h3>Account Management</h3>
    <ul>
        <li><a href="/viewProfile/<%= user.student_id %>">View My Admin Profile</a></li>
        <li><a href="/editProfile/<%= user.student_id %>">Edit Profile</a></li>
    </ul>

    <hr>

    <h3>Admin Actions</h3>
    <ul>
        <li><a href="/events">Manage Events (Create / Edit / Delete / Search)</a></li>
    </ul>

    <hr>

    <form action="/logout" method="POST">
        <button type="submit">Logout</button>
    </form>
</body>
</html>
